<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<form class="container">
  <div class="form-control row">
    <label class="col-md-2">
      Year: 
    </label>
    <input type="number" class="form-group col-md-10" id="year" name="year" ([ngModel])="year">
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      country: 
    </label>
    <select>
      <option (click)="setCountry(0)">
        USA
      </option>
      <option (click)="setCountry(1)">
        UK
      </option>
      <option (click)="setCountry(2)">
        Colombia
      </option>
      <option (click)="setCountry(3)">
        Other
      </option>
    </select>
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      Duration: 
    </label>
    <input type="number" class="form-group col-md-10" id="duration" name="duration" ([ngModel])="duration">
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      Content Rating: 
    </label>
    <select>
      <option (click)="setContentRating(0)">
        R
      </option>
      <option (click)="setContentRating(1)">
        PG-13
      </option>
      <option (click)="setContentRating(2)">
        PG
      </option>
      <option (click)="setContentRating(3)">
        Other
      </option>
    </select>
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      Budget: 
    </label>
    <input type="number" class="form-group col-md-10" id="budget" name="budget" ([ngModel])="budget">
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      Number of faces in Poster: 
    </label>
    <input type="number" class="form-group col-md-10" id="facenumber" name="facenumber" ([ngModel])="facenumber">
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      Director FB likes: 
    </label>
    <input type="number" class="form-group col-md-10" id="dir_likes" name="dir_likes" ([ngModel])="dir_likes">
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      Cast FB likes: 
    </label>
    <input type="number" class="form-group col-md-10" id="cast_likes" name="cast_likes" ([ngModel])="cast_likes">
  </div>
  <div class="form-control row">
    <label class="col-md-2">
      Movie FB likes: 
    </label>
    <input type="number" class="form-group col-md-10" id="movie_likes" name="movie_likes" ([ngModel])="movie_likes">
  </div>
</form>

